.App {
  text-align: center;


}


.radio {
  display: flex;
  justify-content: center;
}

.picker {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 30px;
grid-gap: 20px;
}
